.container{
	width:100%;
}
.jumbo{
	background:url('../images/space.jpg');
	color:#111;
	margin:20px auto 20px auto;
	padding:40px;
	width:90%;
}

.buttons{
	margin:0 auto;
}
#nav-button{
	background-color:black;
}

#nav-button:hover{
	background-color:rgba(77,161,180);
}

.tabs-navs:hover{
	background-color:#777;
}

.nav-pills{
	float:right;
	margin-top:5px;
}

button{
	border-radius:5px;
	margin-bottom:30px;
	margin-top:20px;
	padding:15px;
}

button:last-child{
	background-color:#4DA1A9;
	border:1px solid #4DA1A9;
}

.buttons a {
	color:#DDD;
	text-decoration: none;
}

.book-button a {
	color:white;
}

.header{
	font-size:70px;
	margin-bottom: 30px;
	padding-top: 20px;
}

#brand-logo{
	color:rgba(51,122,183,.8);
}

.lead{
	color:#DDD;
	padding:10px;
	padding-left: 20px;

	
}

.features .glyphicon{
	color:#4DA1A9;
	font-size: 32px;
	margin-top:20px;

}

.features{
	padding:20px;
	margin-bottom: 40px;
}

.quote{
	background-color:#333;
	color:#999;
	margin-bottom: 20px;
	
	width:100%;
}

blockquote{
	border-left:none;
}

.transport-header{
	margin-bottom:30px;
}
.footer{
	background-color: #CCC;
	margin-top: 30px;
	padding:30px;
	padding-bottom: 40px;
	width:100%;
}

.links{
	margin-left:30px;
}
